# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Data (do not upload raw data)
data/raw/

# Virtual environments
venv/
.env/

# VSCode
.vscode/

# Saved model and preprocessor files
*.joblib
*.pkl
*.pt
*.pth

# Processed data
data/processed/